<!DOCTYPE html>
<html>
    <head>
        <title>Логин</title>
    </head>
    <body>
        <h1>Логин</h1>
        {% if error %}
            <p><strong>{{ error }}</strong></p>
        {% endif %}
        <form method="post">
            <label>Имя:</label><br>
            <input type="text" name="username"><br>
            <label>Пароль:</label><br>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
